 {% extends "manage_pathogen/pathogen.html" %}
 {% block content4 %}


         <div class="card pane role_toggle role_toggle_4">
             <div class="card-header bg-secondary text-white">Registering disease category
             <a   onclick='toggle_diseasecategory_registration_block()' id="register_disease_category_btn"
                          style="float:right;cursor:pointer;margin-bottom:8px;color:lightcyan"><ins>Add new</ins></a>
             </div>
             <div class="card-body">

                  <div  style="padding-bottom:5px;margin-top:0px;">
                  <div id="registering_disease_category_form_block" style="z-index: 1;background-color: whitesmoke;padding: 10px;border-radius: 5px" >



                  <form id="disease_category_registering_form" data-url="{% url "save_disease_category" %}">
                      {% csrf_token %}
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Name</span>
                        </div>
                        <input name="name" id="disease_category_registration_name" onkeyup="load_disease_category_name($(this).val(),'{% url 'disease_category_name_browser'  %}')"
                               type="text" class="form-control"
                               placeholder="name..."
                               list="disease_category_name_browser" onkeydown="block_unwanted_symbol()">
                        <input type="submit" class="btn btn-sm btn-info" value="add">
                      </div>
                      <div id="disease_category_registration_name_error" class="invalid-feedback" style="padding-left: 10px"></div>
                  </form>



                   <datalist class="data" id="disease_category_name_browser"></datalist>



                   </div>
                  </div>

                  <div id="disease_category_table_parent_div">
                  <table data-url="{% url "disease_category_datatable_link" %}" style="margin-top:5px; margin-left:0px;" id="disease_category_table">
                            <thead>
                                <th>Name</th><th></th><th></th>
                            </thead>
                  </table>
                  </div>

                  <div id="disease_category_delete_confirmation" class="alert alert-danger" style="display:none;position: absolute; top: 35%;right:15%;width: 70%;" >
                       <button type="button" class="close"  aria-label="Close"
                               onclick="disable_disease_category_delete_confirmation()">
                           <span aria-hidden="true">&times;</span>
                       </button><br/><br/>
                       Do you want to delete disease category with name of "<span style="color:#0069d9" id="disease_category_delete_confirmation_name"></span>" ?
                      <br/><br/><div class="row">
                          <div class="col-6"></div>
                          <div class="col-6">
                              <button onclick="confirmed_delete_disease_category()" data-url={% url "delete_disease_category" %} id="disease_category_delete_yes_btn_id" style="margin-right: 15px;float:right" data-id="" class="btn btn-primary btn-sm">Yes</button>
                              <button onclick="disable_disease_category_delete_confirmation()" style="float:right;margin-right: 15px" class="btn btn-secondary btn-sm">No</button>
                          </div>
                      </div>
                  </div>

                  <div id="disease_category_notification" class="alert alert-danger" style="display:none;position: absolute; top: 1%;right:1%;width: 50%;" >

                      <div class="row">
                          <div class="col-10" id="disease_category_notification_message"></div>
                          <div  class="col-2">
                               <button type="button" class="close"  aria-label="Close"onclick="hide_disease_category_notification()">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                          </div>
                      </div>
                  </div>
                   <div id="disease_category_update_popup" style="display:none;position: absolute; top: 20%;right:15%;width: 70%;;padding: 6px;background-color: gray">
                               <div class="card">
                                         <div class="card-header">Update disease category
                                               <button type="button" class="close"  aria-label="Close"
                                                       onclick="hide_disease_category_update_popup()">
                                                   <span aria-hidden="true">&times;</span>
                                               </button>
                                          </div>
                                           <div class="card-body">
                                               <form id="disease_category_update_form" data-url="{% url "update_disease_category" %}">
                                                   {% csrf_token %}
                                                   <input id="disease_category_id_update" name="id" hidden>
                                                   <label>Name </label><br/>
                                                   <input onkeyup="load_disease_category_name($(this).val(),'{% url 'disease_category_name_browser' %}')" list="disease_category_name_browser" id="disease_category_name_update" name="name" class="form-control" type="text" placeholder="name..."><br/>
                                                   <div id="disease_category_update_name_error" class="invalid-feedback" ></div><br/>
                                                   <input type="submit" value="save" class="btn btn-primary btn-sm">
                                               </form>
                                           </div>
                                </div>
                   </div>

             </div>
             <div class="card-footer">Footer</div>
        </div>


     {% block content5 %}

     {% endblock content5 %}
 {% endblock content4 %}




