
 {% extends "manage_disease_detail/disease_detail.html" %}
 {% block content12 %}
         <div class="card pane role_toggle role_toggle_14">
             <div class="card-header bg-secondary text-white">Registering factor options
             <a   onclick='toggle_factor_options_registration_block()' id="register_factor_options_btn"
                          style="float:right;cursor:pointer;margin-bottom:8px;color:lightcyan"><ins>Add new</ins></a>
             </div>
             <div class="card-body">

                  <div  style="padding-bottom:5px;margin-top:0px;">
                  <div id="registering_factor_options_form_block" style="z-index: 1;background-color: whitesmoke;padding: 10px;border-radius: 5px" >



                  <form id="factor_options_registering_form" data-url="{% url "save_factor_options" %}">
                      {% csrf_token %}
                      <div id="factor_options_registration_general_error" class="invalid-feedback" style="padding-left: 10px"></div>
                      <div class="row" style="padding-top: 8px">
                          <div class="col-3 text-right" >
                              <label>Name :</label>
                          </div>
                          <div class="col-9">
                              <input name="description" id="factor_options_registration_description" onkeyup="load_factor_options_description($(this).val(),'{% url 'factor_options_description_browser'  %}')"
                               type="text" class="form-control"
                               placeholder="description..."
                               list="factor_options_description_browser" onkeydown="block_unwanted_symbol()">
                               <div id="factor_options_registration_description_error" class="invalid-feedback" style="padding-left: 10px"></div>
                          </div>
                      </div>
                      <div class="row"  style="padding-top: 8px">
                          <div class="col-3 text-right">
                                  <label>Factor :</label>
                          </div>
                          <div class="col-9">
                                <div>
                                    <select class="fstdropdown-select" id="factor_options_registration_factor_dropdown"  name="factor" data-url="{% url "load_factor" %}">
                                      <option value="">Select option</option>

                                    </select>
                                </div>
                                <div id="factor_options_registration_factor_error" class="invalid-feedback" style="padding-left: 10px"></div>
                          </div>
                      </div>
                      <div class="row"  style="padding-top: 8px">
                          <div class="col-3">

                          </div>
                          <div class="col-9">
                                <input type="submit" class="btn btn-info btn-sm" value="add">
                          </div>
                      </div>


                  </form>



                   <datalist class="data" id="factor_options_description_browser"></datalist>



                   </div>
                  </div>

                  <div id="factor_options_table_parent_div">
                  <table data-url="{% url "factor_options_datatable_link" %}" style="margin-top:5px; margin-left:0px;" id="factor_options_table">
                            <thead>
                                <th>Description</th><th>Factor</th><th></th><th></th>
                            </thead>
                  </table>
                  </div>

                  <div id="factor_options_delete_confirmation" class="alert alert-danger" style="display:none;position: absolute; top: 35%;right:15%;width: 70%;" >
                       <button type="button" class="close"  aria-label="Close"
                               onclick="disable_factor_options_delete_confirmation()">
                           <span aria-hidden="true">&times;</span>
                       </button><br/><br/>
                       Do you want to delete factor options with description of "<span style="color:#0069d9" id="factor_options_delete_confirmation_description"></span>" ?
                      <br/><br/><div class="row">
                          <div class="col-6"></div>
                          <div class="col-6">
                              <button onclick="confirmed_delete_factor_options()" data-url={% url "delete_factor_options" %} id="factor_options_delete_yes_btn_id" style="margin-right: 15px;float:right" data-id="" class="btn btn-primary btn-sm">Yes</button>
                              <button onclick="disable_factor_options_delete_confirmation()" style="float:right;margin-right: 15px" class="btn btn-secondary btn-sm">No</button>
                          </div>
                      </div>
                  </div>

                  <div id="factor_options_notification" class="alert alert-danger" style="display:none;position: absolute; top: 1%;right:1%;width: 50%;" >

                      <div class="row">
                          <div class="col-10" id="factor_options_notification_message"></div>
                          <div  class="col-2">
                               <button type="button" class="close"  aria-label="Close"onclick="hide_factor_options_notification()">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                          </div>
                      </div>
                  </div>
                   <div id="factor_options_update_popup" style="display:none;position: absolute; top: 20%;right:15%;width: 70%;;padding: 6px;background-color: gray">
                               <div class="card">
                                         <div class="card-header">Update factor options
                                               <button type="button" class="close"  aria-label="Close"
                                                       onclick="hide_factor_options_update_popup()">
                                                   <span aria-hidden="true">&times;</span>
                                               </button>
                                          </div>
                                           <div class="card-body">
                                               <div id="factor_options_update_general_error" class="invalid-feedback" style="padding-left: 10px"></div>
                                               <form id="factor_options_update_form" data-url="{% url "update_factor_options" %}">
                                                   {% csrf_token %}
                                                   <input id="factor_options_id_update" name="id" hidden>
                                                   <label>Name </label><br/>
                                                   <input onkeyup="load_factor_options_description($(this).val(),'{% url 'factor_options_description_browser' %}')" list="factor_options_description_browser" id="factor_options_description_update" name="description" class="form-control" type="text" placeholder="description...">
                                                   <div id="factor_options_update_description_error" class="invalid-feedback" style="padding-left: 10px"></div>

                                                   <label>Factor </label><br/>
                                                   <div>
                                                        <select class="fstdropdown-select" id="factor_options_update_factor_dropdown"  name="factor" data-url="{% url "load_factor" %}">
                                                        </select>
                                                    </div>
                                                    <div id="factor_options_update_factor_error" class="invalid-feedback" style="padding-left: 10px"></div><br/>
                                                   <input type="submit" value="save" class="btn btn-primary btn-sm">
                                               </form>
                                           </div>
                                </div>
                   </div>

             </div>
             <div class="card-footer">Footer</div>
        </div>
      {% block content13 %}

       {% endblock content13 %}
 {% endblock content12 %}








